/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

/*
  CSS
*/

:root {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    --color-text: #333;
    --color-white: #FFF;
    --color-primary: #ef692e;
    --color-primary-dark: #c9531f;
    --color-light_gray: #d5d5d5;
    --background-color: #f6efe4;

    background-color: var(--background-color);
}

.content {
    margin: 56px auto;
    max-width: 600px;
    padding: 16px;
    background-color: color-mix(in srgb, var(--background-color) 30%, white);
}

.heading1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 18px;
    color: var(--color-primary);
}

.top_controls {
    margin-bottom: 18px;
}

.buttons_row {
    display: flex;
    gap: 1rem;
    flex-direction: row;

    list-style-type: none;
    margin-block-start: unset;
    margin-block-end: unset;
    padding-inline-start: unset;

    li {
        display: inline-block;
    }
}

.button {
    padding: 4px 8px;
    border-radius: 0.5rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 1.0;
        background-color: var(--color-primary-dark);
    }
}

.button--primary-outline {
    border: 1px solid var(--color-primary);
    background-color: var(--color-white);
    color: var(--color-primary);
    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 1.0;
        background-color: var(--color-light_gray);
    }
    &[aria-checked="true"] {
        background-color: var(--color-primary);
        color: var(--color-white);
    }
}
